<div class="card">
    <div class="card-body">
        <h1>Descripción de funcionamiento notes app</h1>
        <ul>
            <li>Para utilizar la app debes registrarte usando nombre, correo y contraseña.</li>
            <li>Loguear utilizando tu email y password.</li>
            <li>Una vez logueado puedes crear las notas que quieras sin restricción.</li>
            <li>Cada nota que vallas agregando se irá colocando de la primera de la lista.</li>
            <li>Las notas pueden ser actualizadas y eliminadas cuando gustes.</li>
            <li>Las notas solo podrán ser visibles por el usuario registrado, nadie tendra acceso a tus notas.</li>
        </ul>
    </div>
</div>