<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nihil cupiditate saepe nostrum accusamus minima aliquid eaque ratione reprehenderit dignissimos ad dicta tenetur repellat sed, pariatur repellendus iure quisquam eos.</p>
    </div>
</div>