<div class="card">
    <div class="card-body">
        <h1>Descripción de funcionamiento notes app</h1>
        <ul>
            <li>Para utilizar la app debes registrarte con un correo y contraseña.</li>
            <li>El registro puede ser simple ej: eric, eric@gmail.com y el "password".</li>
            <li>Debes loguear para poder entrar y colocar las notas que gustes</li>
            <li>Podras crear, leer, editar y borrar las notas que quieras.</li>
            <li>Las notas solo podrán ser visibles por el usuario registrado. </li>
        </ul>
    </div>
</div>