<div class="container">
    <div class="card">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Notes App CRUD with MongoDB</h1>
            <p class="lead">Crear, leer, actualizar y borrar en la base de datos no relacionar mongoDB</p>
            <hr class="my-4">
            <p>Utilizando en el Front-end: HTML, CSS, JAVASCRIPT y HANDLEBARS</p>
            <hr class="my-4">
            <p>Back-end: EXPRESS, NODEJS, MONGODB</p>
            <a href="/about" class="btn btn-primary btn-lg ">Como funciona</a>
        </div>
    </div>
</div>