<div class="container">
    <div class="card">
        <div class="jumbotron mt-4">
            <div class="row p-4">
                <h1 class="display-4">Notes App CRUD con MongoDB.</h1>
                <p class="lead">Crear, leer, actualizar y borrar Notas con registro de Usuario.</p>
                <hr class="my-4">
                <h4>Uso exclusivo de usuario registrado</h4>
                <p>Notes app esta creada para que el usuario registrado pueda crear sus propias notas y que no serán visualizadas por terceros.</p>
                <p>El registro es súper simple solo tienes que ingresar: nombre, email y password.</p>
                <p>Si tienes alguna duda puedes ir al botón ¿Cómo funciona?</p>
                <hr class="my-4">
                <h4>Tecnologías utilizadas.</h4>
                <p>Front-end: HTML, CSS, BOOTSTRAP, JAVASCRIPT y HANDLEBARS</p>
                <p>Back-end: EXPRESS, NODEJS, MONGODB</p>
                <p>Dependencias: bcryptjs, connect-flash, cors, dotenv, express, express-handlebars, method-override, mongooge, passport y passport-local </p>
                <div class="item-center">
                    <a href="/about" class="btn btn-primary btn-lg ">¿Como funciona?</a>
                    <a href="https://github.com/erc83/notes-app-mongo" class="btn btn-primary btn-lg ">Ver en Github</a>
                </div>
            </div>
        </div>
    </div>
</div>